.clients__section {
  @extend %section-mobile;
  text-align: center;
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.clients_container {
  @extend %container-mobile;
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
.clients__title {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;

  color: $title-text-color;
}
.clients__list {
  @media screen and (min-width: $mobile) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
  }

  &__item {
    @media screen and (min-width: $mobile) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: $tablet) {
      width: calc((100% - 3 * 30px) / 3);
      margin: 15px;
    }
    @media screen and (min-width: $desktop) {
      width: 170px;
      margin: 0;
    }
  }

  &__item:not(:last-child) {
    @media screen and (min-width: $desktop) {
      margin-right: 30px;
    }
  }
  &__rectangle {
    display: block;

    width: 210px;
    height: 92px;
    border: 1px solid $icon-color;
    border-radius: 4px;

    padding: 16px 52px;

    color: $icon-color;
    transition: color 250ms $cubic, border-color 250ms $cubic;
    @media screen and (min-width: $tablet) {
      padding: 16px 60px;
      width: 226px;
    }
    @media screen and (min-width: $desktop) {
      width: 170px;
      padding: 16px 32px;
    }
  }
  &__rectangle:hover,
  &__rectangle:focus {
    border-color: $accent-color;
    color: $accent-color;
  }
  &__logo-icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
  }
}
