.section-advantages {
  @extend %section-mobile;
  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.container-advantages {
  @extend %container-mobile;
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }
  @media screen and (min-width: $tablet) {
    width: $tablet;
  }
  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
.image {
  @extend %image;
}

.advantages__list {
  & .item:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
  }

  & .item {
    @media screen and (min-width: $tablet) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: $desktop) {
      width: calc((100% - 4 * 30px) / 4);
    }
  }
  &__rectangle {
    display: block;
    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    background-color: $button-primary-color;
    padding: 25px 190px;
    @media screen and (min-width: $tablet) {
      width: 354px;
      padding: 25px 142px;
    }
    @media screen and (min-width: $desktop) {
      width: 270px;
      padding: 25px 100px;
    }
  }
  &__icon:hover,
  &__icon:focus {
    stroke: $accent-color;
  }
  &__title {
    margin-bottom: 10px;

    color: $title-text-color;

    font-weight: 700;
    line-height: 1.14;
  }
  &__text {
    line-height: 1.71;
  }
}

.advantages__title {
  position: absolute;
  width: 1 px;
  height: 1 px;
  margin: -1 px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
