.section-advantages {
  @extend %section;
}
.container-advantages {
  @extend %container;
}
.advantages__title {
  position: absolute;
  width: 1 px;
  height: 1 px;
  margin: -1 px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.advantages {
  &__icon-list {
    display: flex;
  }
  &__text-list {
    display: flex;
    justify-content: flex-start;
  }
  &__text-list .item:not(:last-child),
  &__icon-list .item:not(:last-child) {
    margin-right: 30px;
  }
}
.advantages__icon-list {
  &__rectangle {
    display: block;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: $button-primary-color;
    padding: 25px 100px;
  }
  &__icon:hover,
  &__icon:focus {
    stroke: $accent-color;
  }
}
.advantages__text-list {
  &__title {
    margin-bottom: 10px;

    color: $title-text-color;

    font-weight: 700;
    line-height: 1.14;
  }
  &__text {
    line-height: 1.71;
  }
}
.item.advantages {
  display: inline-block;
  width: 270px;
  height: 75px;
}
