.hero__section {
  text-align: center;
}
.hero__container {
  @extend %container-mobile;
  max-width: 1600px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/desktop/hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/desktop/hero-desktop@2x.jpg");
  }

  @media screen and (max-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/tablet/hero-tablet.jpg");
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/tablet/hero-tablet@2x.jpg");
    }
  }

  @media screen and (max-width: $mobile) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/mobile/hero.jpg");
    padding: 118px 0px;
    max-height: 100%;
    max-width: 100%;
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url("../images/mobile/hero@2x.jpg");
    }
  }
}
.hero__title {
  margin-bottom: 30px;

  color: $white-color;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  @extend %button;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 32px;

  background-color: $accent-color;
  color: $white-color;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}
