.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms $cubic;
  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  @media screen and (max-width: $mobile) {
  }
  @media screen and (min-width: $tablet) {
  }
  @media screen and (min-width: $desktop) {
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0.3);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  padding: 40px;

  background: $white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scaleX(1);

  transition: transform 250ms $cubic;
  @media screen and (max-width: 767px) {
    width: calc(100% - 30px);
    height: calc(100% - 187px);
    max-width: 450px;
    max-height: 609px;
  }
  // @media screen and (min-width: 500px) {
  //   width: 450px;
  //   height: 609px;
  // }
  @media screen and(min-width: $desktop) {
    width: 528px;
    height: 581px;
  }
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
  border-radius: 50%;
  outline: 1px solid rgba(0, 0, 0, 0.1);
  background-color: $white-color;
  color: #000000;
  height: 30px;
  width: 30px;
  padding: 6px;
  border: none;
  cursor: pointer;

  transition: color 250ms $cubic;
  &__icon {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    fill: currentColor;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
