.projects-list {
  display: flex;
  flex-wrap: wrap;
  & .item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;

    transition: box-shadow 250ms $cubic;
  }
  & .item:nth-child(3n) {
    margin-right: 0;
  }
  & .item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
  &__image-thumb {
    position: relative;
    overflow: hidden;
  }
  &__image-thumb:hover &__image-hover {
    opacity: 1;
    transform: translateY(0);
  }
}
.projects-list__image-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.902);
  top: 0;
  left: 0;

  padding: 63px 24px;
  opacity: 0;
  transform: translateY(100%);

  transition: opacity 500ms $cubic, transform 500ms $cubic;
  &__text {
    font-size: 18px;
    line-height: 1.56;
    color: $white-color;
  }
}

.projects-list__image-content {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 1px solid $header-border;
  border-top: none;
  &__name {
    margin-top: 0;
    margin-bottom: 4px;

    color: $title-text-color;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.03em;
  }
  &__text {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 16px;
    line-height: 1.875;
    color: $primary-text-color;
  }
}

.span {
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
