.social-container {
  margin-top: 12px;
  margin-left: 70px;
  &__join {
    margin-bottom: 20px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: $white-color;
  }
}
.social-list {
  display: flex;
  & .item:not(:last-child) {
    margin-right: 10px;
  }
}

.circle {
  @extend %circle;
  color: $white-color;
  &:hover,
  &:focus {
    background-color: $accent-color;
  }
  &__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
}
