.submit-container {
  margin-left: 93px;
  width: 576px;
  height: 86px;
  margin-top: 12px;
  &__text {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-color;
  }
}
.submit-container__form {
  display: flex;
  & input {
    margin-top: 20px;
    padding: 15px;
    height: 50px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: #2f303a;
    color: rgba(255, 255, 255, 0.6);

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }
}
.submit-button {
  @extend %button;

  display: flex;
  margin-top: 20px;
  align-items: center;
  text-align: center;

  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  padding: 10px 29px;
  min-width: 200px;
  height: 50px;
  margin-left: 12px;

  background-color: $accent-color;
  color: $white-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  &__icon {
    width: 24px;
    height: 24px;
    fill: currentColor;
    margin-left: 10px;
  }
}
