body {
  background-color: $primary-bg-color;
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
  color: $primary-text-color;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  margin-bottom: 0px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
p {
  margin-top: 0;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
