$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$button-primary-color: #f5f4fa;
$primary-bg-color: #e5e5e5;
$white-color: #ffffff;
$background-hero-color: #2f303a;
$icon-color: #afb1b8;
$cubic: cubic-bezier(0.4, 0, 0.2, 1);
$header-border: #eeeeee;
$footer-bg-color: #2f303a;
