.logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  line-height: 1.192;
  text-decoration: none;

  &-color {
    color: $accent-color;
  }
}
.navigate__header-logo {
  @extend .logo;
  color: $title-text-color;
}
.footer__logo {
  @extend .logo;
  color: $white-color;
  margin-bottom: 20px;
}
